In [1]:
import pandas as pd
import numpy as np

id_data = pd.read_csv('filings\\id_data_8-K.csv', usecols = ['accnum', 'cik', 'fd', 'rp'])
crsp_comp = pd.read_csv('filings\\crsp_comp_8-K.csv', usecols = ['date', 'cusip', 'cik', 'datadate', 'gvkey'])

pd.set_option('display.max_rows', None)

In [2]:
id_data = id_data[(id_data['cik'] == 51143) | (id_data['cik'] == 320193)]

In [3]:
crsp_comp = crsp_comp[(crsp_comp['cik'] == 51143) | (crsp_comp['cik'] == 320193)]

In [4]:
### Prepare merge
id_data['fd'] = pd.to_datetime(id_data['fd'])
id_data['date_key'] = pd.to_datetime(id_data['rp'])
id_data['rp'] = pd.to_datetime(id_data['rp'])
crsp_comp['date_key'] = crsp_comp['date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
crsp_comp['date'] = crsp_comp['date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
crsp_comp['datadate'] = crsp_comp['datadate'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
# crsp_comp_ibm['ipodate'] = crsp_comp_ibm['ipodate'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))

In [5]:
crsp_comp[:100]

            date     cusip      cik   datadate   gvkey   date_key
42845 1993-03-31  45920010  51143.0 1993-03-31  6066.0 1993-03-31
42846 1993-06-30  45920010  51143.0 1993-06-30  6066.0 1993-06-30
42847 1993-09-30  45920010  51143.0 1993-09-30  6066.0 1993-09-30
42848 1993-12-31  45920010  51143.0 1993-12-31  6066.0 1993-12-31
42849 1994-03-31  45920010  51143.0 1994-03-31  6066.0 1994-03-31
42850 1994-06-30  45920010  51143.0 1994-06-30  6066.0 1994-06-30
42851 1994-09-30  45920010  51143.0 1994-09-30  6066.0 1994-09-30
42852 1994-12-30  45920010  51143.0 1994-12-31  6066.0 1994-12-30
42853 1995-03-31  45920010  51143.0 1995-03-31  6066.0 1995-03-31
42854 1995-06-30  45920010  51143.0 1995-06-30  6066.0 1995-06-30
42855 1995-09-29  45920010  51143.0 1995-09-30  6066.0 1995-09-29
42856 1995-12-29  45920010  51143.0 1995-12-31  6066.0 1995-12-29
42857 1996-03-29  45920010  51143.0 1996-03-31  6066.0 1996-03-29
42858 1996-06-28  45920010  51143.0 1996-06-30  6066.0 1996-06-28
42859 1996-09-30  45920010  51143.0 1996-09-30  6066.0 1996-09-30
42860 1996-12-31  45920010  51143.0 1996-12-31  6066.0 1996-12-31
42861 1997-03-31  45920010  51143.0 1997-03-31  6066.0 1997-03-31
42862 1997-06-30  45920010  51143.0 1997-06-30  6066.0 1997-06-30
42863 1997-09-30  45920010  51143.0 1997-09-30  6066.0 1997-09-30
42864 1997-12-31  45920010  51143.0 1997-12-31  6066.0 1997-12-31
42865 1998-03-31  45920010  51143.0 1998-03-31  6066.0 1998-03-31
42866 1998-06-30  45920010  51143.0 1998-06-30  6066.0 1998-06-30
42867 1998-09-30  45920010  51143.0 1998-09-30  6066.0 1998-09-30
42868 1998-12-31  45920010  51143.0 1998-12-31  6066.0 1998-12-31
42869 1999-03-31  45920010  51143.0 1999-03-31  6066.0 1999-03-31
42870 1999-06-30  45920010  51143.0 1999-06-30  6066.0 1999-06-30
42871 1999-09-30  45920010  51143.0 1999-09-30  6066.0 1999-09-30
42872 1999-12-31  45920010  51143.0 1999-12-31  6066.0 1999-12-31
42873 2000-03-31  45920010  51143.0 2000-03-31  6066.0 2000-03-31
42874 2000-06-30  45920010  51143.0 2000-06-30  6066.0 2000-06-30
42875 2000-09-29  45920010  51143.0 2000-09-30  6066.0 2000-09-29
42876 2000-12-29  45920010  51143.0 2000-12-31  6066.0 2000-12-29
42877 2001-03-30  45920010  51143.0 2001-03-31  6066.0 2001-03-30
42878 2001-06-29  45920010  51143.0 2001-06-30  6066.0 2001-06-29
42879 2001-09-28  45920010  51143.0 2001-09-30  6066.0 2001-09-28
42880 2001-12-31  45920010  51143.0 2001-12-31  6066.0 2001-12-31
42881 2002-03-28  45920010  51143.0 2002-03-31  6066.0 2002-03-28
42882 2002-06-28  45920010  51143.0 2002-06-30  6066.0 2002-06-28
42883 2002-09-30  45920010  51143.0 2002-09-30  6066.0 2002-09-30
42884 2002-12-31  45920010  51143.0 2002-12-31  6066.0 2002-12-31
42885 2003-03-31  45920010  51143.0 2003-03-31  6066.0 2003-03-31
42886 2003-06-30  45920010  51143.0 2003-06-30  6066.0 2003-06-30
42887 2003-09-30  45920010  51143.0 2003-09-30  6066.0 2003-09-30
42888 2003-12-31  45920010  51143.0 2003-12-31  6066.0 2003-12-31
42889 2004-03-31  45920010  51143.0 2004-03-31  6066.0 2004-03-31
42890 2004-06-30  45920010  51143.0 2004-06-30  6066.0 2004-06-30
42891 2004-09-30  45920010  51143.0 2004-09-30  6066.0 2004-09-30
42892 2004-12-31  45920010  51143.0 2004-12-31  6066.0 2004-12-31
42893 2005-03-31  45920010  51143.0 2005-03-31  6066.0 2005-03-31
42894 2005-06-30  45920010  51143.0 2005-06-30  6066.0 2005-06-30
42895 2005-09-30  45920010  51143.0 2005-09-30  6066.0 2005-09-30
42896 2005-12-30  45920010  51143.0 2005-12-31  6066.0 2005-12-30
42897 2006-03-31  45920010  51143.0 2006-03-31  6066.0 2006-03-31
42898 2006-06-30  45920010  51143.0 2006-06-30  6066.0 2006-06-30
42899 2006-09-29  45920010  51143.0 2006-09-30  6066.0 2006-09-29
42900 2006-12-29  45920010  51143.0 2006-12-31  6066.0 2006-12-29
42901 2007-03-30  45920010  51143.0 2007-03-31  6066.0 2007-03-30
42902 2007-06-29  45920010  51143.0 2007-06-30  6066.0 2007-06-29
42903 2007-09-28  45920010  51143.0 2007-09-30  6066.0 2007-09-28
42904 2007-12-31  45920010  51143.0 2007-12-31  6066.0 2007-12-31
42905 2008-03-31  45920010  51143.0 2008-03-31  6066.0 2008-03-31
42906 2008-06-30  45920010  51143.0 2008-06-30  6066.0 2008-06-30
42907 2008-09-30  45920010  51143.0 2008-09-30  6066.0 2008-09-30
42908 2008-12-31  45920010  51143.0 2008-12-31  6066.0 2008-12-31
42909 2009-03-31  45920010  51143.0 2009-03-31  6066.0 2009-03-31
42910 2009-06-30  45920010  51143.0 2009-06-30  6066.0 2009-06-30
42911 2009-09-30  45920010  51143.0 2009-09-30  6066.0 2009-09-30
42912 2009-12-31  45920010  51143.0 2009-12-31  6066.0 2009-12-31
42913 2010-03-31  45920010  51143.0 2010-03-31  6066.0 2010-03-31
42914 2010-06-30  45920010  51143.0 2010-06-30  6066.0 2010-06-30
42915 2010-09-30  45920010  51143.0 2010-09-30  6066.0 2010-09-30
42916 2010-12-31  45920010  51143.0 2010-12-31  6066.0 2010-12-31
42917 2011-03-31  45920010  51143.0 2011-03-31  6066.0 2011-03-31
42918 2011-06-30  45920010  51143.0 2011-06-30  6066.0 2011-06-30
42919 2011-09-30  45920010  51143.0 2011-09-30  6066.0 2011-09-30
42920 2011-12-30  45920010  51143.0 2011-12-31  6066.0 2011-12-30
42921 2012-03-30  45920010  51143.0 2012-03-31  6066.0 2012-03-30
42922 2012-06-29  45920010  51143.0 2012-06-30  6066.0 2012-06-29
42923 2012-09-28  45920010  51143.0 2012-09-30  6066.0 2012-09-28
42924 2012-12-31  45920010  51143.0 2012-12-31  6066.0 2012-12-31
42925 2013-03-28  45920010  51143.0 2013-03-31  6066.0 2013-03-28
42926 2013-06-28  45920010  51143.0 2013-06-30  6066.0 2013-06-28
42927 2013-09-30  45920010  51143.0 2013-09-30  6066.0 2013-09-30
42928 2013-12-31  45920010  51143.0 2013-12-31  6066.0 2013-12-31
42929 2014-03-31  45920010  51143.0 2014-03-31  6066.0 2014-03-31
42930 2014-06-30  45920010  51143.0 2014-06-30  6066.0 2014-06-30
42931 2014-09-30  45920010  51143.0 2014-09-30  6066.0 2014-09-30
42932 2014-12-31  45920010  51143.0 2014-12-31  6066.0 2014-12-31
42933 2015-03-31  45920010  51143.0 2015-03-31  6066.0 2015-03-31
42934 2015-06-30  45920010  51143.0 2015-06-30  6066.0 2015-06-30
42935 2015-09-30  45920010  51143.0 2015-09-30  6066.0 2015-09-30
42936 2015-12-31  45920010  51143.0 2015-12-31  6066.0 2015-12-31
42937 2016-03-31  45920010  51143.0 2016-03-31  6066.0 2016-03-31
42938 2016-06-30  45920010  51143.0 2016-06-30  6066.0 2016-06-30
42939 2016-09-30  45920010  51143.0 2016-09-30  6066.0 2016-09-30
42940 2016-12-30  45920010  51143.0 2016-12-31  6066.0 2016-12-30
42941 2017-03-31  45920010  51143.0 2017-03-31  6066.0 2017-03-31
42942 2017-06-30  45920010  51143.0 2017-06-30  6066.0 2017-06-30
42943 2017-09-29  45920010  51143.0 2017-09-30  6066.0 2017-09-29
42944 2017-12-29  45920010  51143.0 2017-12-31  6066.0 2017-12-29

In [6]:
id_data[:100]

                      accnum     cik         fd         rp   date_key
8531    0000950157-95-000318   51143 1995-10-30 1995-10-30 1995-10-30
10602   0000950157-96-000083   51143 1996-03-08 1996-02-08 1996-02-08
12830   0000320193-96-000006  320193 1996-04-12 1996-04-10 1996-04-10
12831   0000320193-96-000014  320193 1996-06-17 1996-06-14 1996-06-14
16921   0000891554-96-000459   51143 1996-07-26 1996-07-25 1996-07-25
21528   0000912057-96-023874  320193 1996-10-28 1996-10-28 1996-10-28
21529   0000320193-96-000021  320193 1996-12-13 1996-12-04 1996-12-04
21530   0000320193-96-000027  320193 1996-12-24 1996-12-24 1996-12-24
21807   0000912057-96-023401   51143 1996-10-22 1996-10-21 1996-10-21
21808   0000950157-96-000435   51143 1996-12-05 1996-12-03 1996-12-03
27286   0001005477-97-000064   51143 1997-01-23 1997-01-21 1997-01-21
27287   0001005477-97-000100   51143 1997-01-29 1997-01-28 1997-01-28
32781   0000320193-97-000007  320193 1997-04-10 1997-04-10 1997-04-10
32782   0000320193-97-000009  320193 1997-04-25 1997-04-25 1997-04-25
33064   0000912057-97-014018   51143 1997-04-24 1997-04-23 1997-04-23
33065   0000912057-97-016177   51143 1997-05-08 1997-04-29 1997-04-29
38704   0000320193-97-000012  320193 1997-07-28 1997-07-28 1997-07-28
38705   0000320193-97-000016  320193 1997-09-05 1997-09-02 1997-09-02
38706   0000320193-97-000018  320193 1997-09-25 1997-09-24 1997-09-24
38707   0000320193-97-000019  320193 1997-09-25 1997-09-24 1997-09-24
39014   0000912057-97-024667   51143 1997-07-21 1997-07-21 1997-07-21
39015   0000950157-97-000355   51143 1997-08-01 1997-07-30 1997-07-30
45607   0001047469-97-001384   51143 1997-10-22 1997-10-20 1997-10-20
45608   0001005477-97-002757   51143 1997-12-15 1997-12-12 1997-12-12
52216   0000320193-98-000001  320193 1998-01-08 1998-01-08 1998-01-08
52575   0000950157-98-000014   51143 1998-01-08 1998-01-06 1998-01-06
52576   0001047469-98-001737   51143 1998-01-22 1998-01-20 1998-01-20
59409   0001005477-98-001285   51143 1998-04-22 1998-04-20 1998-04-20
66348   0001047469-98-027935   51143 1998-07-21 1998-07-20 1998-07-20
73262   0000320193-98-000010  320193 1998-12-23 1998-12-23 1998-12-23
73573   0001047469-98-037788   51143 1998-10-21 1998-10-20 1998-10-20
73574   0000950157-98-000512   51143 1998-12-16 1998-12-07 1998-12-07
80914   0001005477-99-000119   51143 1999-01-22 1999-01-21 1999-01-21
80915   0001047469-99-002200   51143 1999-01-26 1999-01-26 1999-01-26
80916   0000950157-99-000063   51143 1999-01-29 1999-01-27 1999-01-27
87834   0001047469-99-015830   51143 1999-04-22 1999-01-27 1999-01-27
87835   0001005477-99-001946   51143 1999-04-23 1999-04-21 1999-04-21
87836   0001005477-99-001988   51143 1999-04-28 1999-04-27 1999-04-27
94593   0000320193-99-000007  320193 1999-07-16 1999-07-16 1999-07-16
94594   0000320193-99-000010  320193 1999-09-07 1999-09-03 1999-09-03
94872   0001005477-99-003189   51143 1999-07-21 1999-07-19 1999-07-19
94873   0001047469-99-029828   51143 1999-08-05 1994-12-13 1994-12-13
102114  0001005477-99-004837   51143 1999-10-21 1999-10-20 1999-10-20
109562  0000912057-00-002128  320193 2000-01-24 2000-01-19 2000-01-19
109869  0001005477-00-000268   51143 2000-01-20 2000-01-19 2000-01-19
116980  0000950157-00-000167   51143 2000-04-13 2000-04-06 2000-04-06
116981  0001005477-00-003289   51143 2000-04-19 2000-04-18 2000-04-18
116982  0000912057-00-021817   51143 2000-05-05 1995-06-14 1995-06-14
116983  0000912057-00-030046   51143 2000-06-28 2000-06-22 2000-06-22
124047  0000912057-00-032536   51143 2000-07-20 2000-07-19 2000-07-19
124048  0000950157-00-000515   51143 2000-09-25 2000-09-13 2000-09-13
131726  0001005477-00-007110   51143 2000-10-17 2000-10-17 2000-10-17
140260  0000912057-01-001854   51143 2001-01-17 2001-01-17 2001-01-17
140261  0000912057-01-003267   51143 2001-01-29 2001-01-29 2001-01-29
149076  0000912057-01-509402   51143 2001-04-18 2001-04-18 2001-04-18
157720  0000912057-01-524325   51143 2001-07-18 2001-07-18 2001-07-18
157721  0000950157-01-500578   51143 2001-09-26 2001-09-20 2001-09-20
166718  0000912057-01-535610   51143 2001-10-16 2001-10-16 2001-10-16
175938  0000912057-02-001740   51143 2002-01-17 2002-01-17 2002-01-17
175939  0000912057-02-003205   51143 2002-01-29 2002-01-29 2002-01-29
185868  0001005477-02-001549   51143 2002-04-08 2002-04-08 2002-04-08
185869  0000891554-02-002124   51143 2002-04-17 2002-04-17 2002-04-17
185870  0000950157-02-000337   51143 2002-05-09 2002-05-08 2002-05-08
185871  0000912057-02-023014   51143 2002-06-04 2002-06-04 2002-06-04
197174  0000912057-02-029692  320193 2002-08-05 2002-08-01 2002-08-01
197175  0000912057-02-031595  320193 2002-08-13 2002-08-08 2002-08-08
197751  0000912057-02-026106   51143 2002-07-01 2002-06-28 2002-06-28
197752  0000912057-02-026738   51143 2002-07-09 2002-07-09 2002-07-09
197753  0000912057-02-027695   51143 2002-07-17 2002-07-17 2002-07-17
197754  0000912057-02-029172   51143 2002-07-30 2002-07-30 2002-07-30
197755  0000912057-02-031611   51143 2002-08-13 2002-08-13 2002-08-13
197756  0000912057-02-033728   51143 2002-08-28 2002-08-28 2002-08-28
197757  0000950157-02-000627   51143 2002-09-09 2002-09-05 2002-09-05
210709  0000912057-02-038827   51143 2002-10-16 2002-10-16 2002-10-16
210710  0000912057-02-040036   51143 2002-10-29 2002-10-29 2002-10-29
210711  0000912057-02-040786   51143 2002-11-04 2002-11-04 2002-11-04
210712  0001047469-02-003022   51143 2002-11-14 2003-11-13 2003-11-13
210713  0000950157-02-000806   51143 2002-11-26 2002-11-20 2002-11-20
210714  0000950157-02-000808   51143 2002-11-26 2002-11-20 2002-11-20
210715  0001047469-02-005679   51143 2002-12-04 2002-12-04 2002-12-04
210716  0001047469-02-008739   51143 2002-12-31 2002-12-31 2002-12-31
222232  0001104659-03-004649  320193 2003-03-21 2003-03-19 2003-03-19
222720  0001047469-03-000017   51143 2003-01-02 2002-12-31 2002-12-31
222721  0001047469-03-001604   51143 2003-01-17 2003-01-16 2003-01-16
222722  0001104659-03-001240   51143 2003-02-10 2003-02-07 2003-02-07
222723  0001047469-03-006346   51143 2003-02-21 2003-02-21 2003-02-21
236921  0001047469-03-013617  320193 2003-04-16 2003-04-16 2003-04-16
237683  0001047469-03-013255   51143 2003-04-14 2003-04-14 2003-04-14
237684  0001047469-03-013396   51143 2003-04-15 2003-04-14 2003-04-14
237685  0001047469-03-018483   51143 2003-05-14 2003-05-14 2003-05-14
237686  0001047469-03-020297   51143 2003-06-02 2003-06-02 2003-06-02
237687  0001047469-03-022100   51143 2003-06-24 2003-06-24 2003-06-24
255188  0001104659-03-014913  320193 2003-07-16 2003-07-16 2003-07-16
255886  0001047469-03-024317   51143 2003-07-16 2003-07-16 2003-07-16
255887  0001047469-03-025783   51143 2003-08-01 2003-07-31 2003-07-31
255888  0001047469-03-028472   51143 2003-08-21 2003-08-21 2003-08-21
274474  0001104659-03-022879  320193 2003-10-15 2003-10-15 2003-10-15
275235  0001047469-03-033430   51143 2003-10-15 2003-10-15 2003-10-15
275236  0001047469-03-034550   51143 2003-10-28 2003-10-28 2003-10-28
293934  0001104659-04-000896  320193 2004-01-14 2004-01-14 2004-01-14

In [7]:
id_crsp_comp = pd.merge(id_data, crsp_comp, on = ['cik', 'date_key'], how = 'outer', validate = 'm:m')

In [8]:
id_crsp_comp.sort_values(by=['cik', 'date_key'])

,accnum,cik,fd,rp,date_key,date,cusip,datadate,gvkey
631,NaN,51143,NaT,NaT,1993-03-31,1993-03-31,45920010,1993-03-31,6066.0
632,NaN,51143,NaT,NaT,1993-06-30,1993-06-30,45920010,1993-06-30,6066.0
633,NaN,51143,NaT,NaT,1993-09-30,1993-09-30,45920010,1993-09-30,6066.0
634,NaN,51143,NaT,NaT,1993-12-31,1993-12-31,45920010,1993-12-31,6066.0
635,NaN,51143,NaT,NaT,1994-03-31,1994-03-31,45920010,1994-03-31,6066.0
636,NaN,51143,NaT,NaT,1994-06-30,1994-06-30,45920010,1994-06-30,6066.0
637,NaN,51143,NaT,NaT,1994-09-30,1994-09-30,45920010,1994-09-30,6066.0
41,0001047469-99-029828,51143,1999-08-05,1994-12-13,1994-12-13,NaT,NaN,NaT,NaN
638,NaN,51143,NaT,NaT,1994-12-30,1994-12-30,45920010,1994-12-31,6066.0
639,NaN,51143,NaT,NaT,1995-03-31,1995-03-31,45920010,1995-03-31,6066.0
47,0000912057-00-021817,51143,2000-05-05,1995-06-14,1995-06-14,NaT,NaN,NaT,NaN
640,NaN,51143,NaT,NaT,1995-06-30,1995-06-30,45920010,1995-06-30,6066.0
641,NaN,51143,NaT,NaT,1995-09-29,1995-09-29,45920010,1995-09-30,6066.0
0,0000950157-95-000318,51143,1995-10-30,1995-10-30,1995-10-30,NaT,NaN,NaT,NaN
642,NaN,51143,NaT,NaT,1995-12-29,1995-12-29,45920010,1995-12-31,6066.0
1,0000950157-96-000083,51143,1996-03-08,1996-02-08,1996-02-08,NaT,NaN,NaT,NaN
643,NaN,51143,NaT,NaT,1996-03-29,1996-03-29,45920010,1996-03-31,6066.0
644,NaN,51143,NaT,NaT,1996-06-28,1996-06-28,45920010,1996-06-30,6066.0
4,0000891554-96-000459,51143,1996-07-26,1996-07-25,1996-07-25,NaT,NaN,NaT,NaN
645,NaN,51143,NaT,NaT,1996-09-30,1996-09-30,45920010,1996-09-30,6066.0
8,0000912057-96-023401,51143,1996-10-22,1996-10-21,1996-10-21,NaT,NaN,NaT,NaN
9,0000950157-96-000435,51143,1996-12-05,1996-12-03,1996-12-03,NaT,NaN,NaT,NaN
646,NaN,51143,NaT,NaT,1996-12-31,1996-12-31,45920010,1996-12-31,6066.0
10,0001005477-97-000064,51143,1997-01-23,1997-01-21,1997-01-21,NaT,NaN,NaT,NaN
11,0001005477-97-000100,51143,1997-01-29,1997-01-28,1997-01-28,NaT,NaN,NaT,NaN
647,NaN,51143,NaT,NaT,1997-03-31,1997-03-31,45920010,1997-03-31,6066.0
14,0000912057-97-014018,51143,1997-04-24,1997-04-23,1997-04-23,NaT,NaN,NaT,NaN
15,0000912057-97-016177,51143,1997-05-08,1997-04-29,1997-04-29,NaT,NaN,NaT,NaN
648,NaN,51143,NaT,NaT,1997-06-30,1997-06-30,45920010,1997-06-30,6066.0
20,0000912057-97-024667,51143,1997-07-21,1997-07-21,1997-07-21,NaT,NaN,NaT,NaN
21,0000950157-97-000355,51143,1997-08-01,1997-07-30,1997-07-30,NaT,NaN,NaT,NaN
649,NaN,51143,NaT,NaT,1997-09-30,1997-09-30,45920010,1997-09-30,6066.0
22,0001047469-97-001384,51143,1997-10-22,1997-10-20,1997-10-20,NaT,NaN,NaT,NaN
23,0001005477-97-002757,51143,1997-12-15,1997-12-12,1997-12-12,NaT,NaN,NaT,NaN
650,NaN,51143,NaT,NaT,1997-12-31,1997-12-31,45920010,1997-12-31,6066.0
25,0000950157-98-000014,51143,1998-01-08,1998-01-06,1998-01-06,NaT,NaN,NaT,NaN
26,0001047469-98-001737,51143,1998-01-22,1998-01-20,1998-01-20,NaT,NaN,NaT,NaN
651,NaN,51143,NaT,NaT,1998-03-31,1998-03-31,45920010,1998-03-31,6066.0
27,0001005477-98-001285,51143,1998-04-22,1998-04-20,1998-04-20,NaT,NaN,NaT,NaN
652,NaN,51143,NaT,NaT,1998-06-30,1998-06-30,45920010,1998-06-30,6066.0
28,0001047469-98-027935,51143,1998-07-21,1998-07-20,1998-07-20,NaT,NaN,NaT,NaN
653,NaN,51143,NaT,NaT,1998-09-30,1998-09-30,45920010,1998-09-30,6066.0
30,0001047469-98-037788,51143,1998-10-21,1998-10-20,1998-10-20,NaT,NaN,NaT,NaN
31,0000950157-98-000512,51143,1998-12-16,1998-12-07,1998-12-07,NaT,NaN,NaT,NaN
654,NaN,51143,NaT,NaT,1998-12-31,1998-12-31,45920010,1998-12-31,6066.0
32,0001005477-99-000119,51143,1999-01-22,1999-01-21,1999-01-21,NaT,NaN,NaT,NaN
33,0001047469-99-002200,51143,1999-01-26,1999-01-26,1999-01-26,NaT,NaN,NaT,NaN
34,0000950157-99-000063,51143,1999-01-29,1999-01-27,1999-01-27,NaT,NaN,NaT,NaN
35,0001047469-99-015830,51143,1999-04-22,1999-01-27,1999-01-27,NaT,NaN,NaT,NaN
655,NaN,51143,NaT,NaT,1999-03-31,1999-03-31,45920010,1999-03-31,6066.0
36,0001005477-99-001946,51143,1999-04-23,1999-04-21,1999-04-21,NaT,NaN,NaT,NaN
37,0001005477-99-001988,51143,1999-04-28,1999-04-27,1999-04-27,NaT,NaN,NaT,NaN
656,NaN,51143,NaT,NaT,1999-06-30,1999-06-30,45920010,1999-06-30,6066.0
40,0001005477-99-003189,51143,1999-07-21,1999-07-19,1999-07-19,NaT,NaN,NaT,NaN
657,NaN,51143,NaT,NaT,1999-09-30,1999-09-30,45920010,1999-09-30,6066.0
42,0001005477-99-004837,51143,1999-10-21,1999-10-20,1999-10-20,NaT,NaN,NaT,NaN
658,NaN,51143,NaT,NaT,1999-12-31,1999-12-31,45920010,1999-12-31,6066.0
44,0001005477-00-000268,51143,2000-01-20,2000-01-19,2000-01-19,NaT,NaN,NaT,NaN
659,NaN,51143,NaT,NaT,2000-03-31,2000-03-31,45920010,2000-03-31,6066.0
45,0000950157-00-000167,51143,2000-04-13,2000-04-06,2000-04-06,NaT,NaN,NaT,NaN
46,0001005477-00-003289,51143,2000-04-19,2000-04-18,2000-04-18,NaT,NaN,NaT,NaN
48,0000912057-00-030046,51143,2000-06-28,2000-06-22,2000-06-22,NaT,NaN,NaT,NaN
660,NaN,51143,NaT,NaT,2000-06-30,2000-06-30,45920010,2000-06-30,6066.0
49,0000912057-00-032536,51143,2000-07-20,2000-07-19,2000-07-19,NaT,NaN,NaT,NaN
50,0000950157-00-000515,51143,2000-09-25,2000-09-13,2000-09-13,NaT,NaN,NaT,NaN
661,NaN,51143,NaT,NaT,2000-09-29,2000-09-29,45920010,2000-09-30,6066.0
51,0001005477-00-007110,51143,2000-10-17,2000-10-17,2000-10-17,NaT,NaN,NaT,NaN
662,NaN,51143,NaT,NaT,2000-12-29,2000-12-29,45920010,2000-12-31,6066.0
52,0000912057-01-001854,51143,2001-01-17,2001-01-17,2001-01-17,NaT,NaN,NaT,NaN
53,0000912057-01-003267,51143,2001-01-29,2001-01-29,2001-01-29,NaT,NaN,NaT,NaN
663,NaN,51143,NaT,NaT,2001-03-30,2001-03-30,45920010,2001-03-31,6066.0
54,0000912057-01-509402,51143,2001-04-18,2001-04-18,2001-04-18,NaT,NaN,NaT,NaN
664,NaN,51143,NaT,NaT,2001-06-29,2001-06-29,45920010,2001-06-30,6066.0
55,0000912057-01-524325,51143,2001-07-18,2001-07-18,2001-07-18,NaT,NaN,NaT,NaN
56,0000950157-01-500578,51143,2001-09-26,2001-09-20,2001-09-20,NaT,NaN,NaT,NaN
665,NaN,51143,NaT,NaT,2001-09-28,2001-09-28,45920010,2001-09-30,6066.0
57,0000912057-01-535610,51143,2001-10-16,2001-10-16,2001-10-16,NaT,NaN,NaT,NaN
666,NaN,51143,NaT,NaT,2001-12-31,2001-12-31,45920010,2001-12-31,6066.0
58,0000912057-02-001740,51143,2002-01-17,2002-01-17,2002-01-17,NaT,NaN,NaT,NaN
59,0000912057-02-003205,51143,2002-01-29,2002-01-29,2002-01-29,NaT,NaN,NaT,NaN
667,NaN,51143,NaT,NaT,2002-03-28,2002-03-28,45920010,2002-03-31,6066.0
60,0001005477-02-001549,51143,2002-04-08,2002-04-08,2002-04-08,NaT,NaN,NaT,NaN
61,0000891554-02-002124,51143,2002-04-17,2002-04-17,2002-04-17,NaT,NaN,NaT,NaN
62,0000950157-02-000337,51143,2002-05-09,2002-05-08,2002-05-08,NaT,NaN,NaT,NaN
63,0000912057-02-023014,51143,2002-06-04,2002-06-04,2002-06-04,NaT,NaN,NaT,NaN
66,0000912057-02-026106,51143,2002-07-01,2002-06-28,2002-06-28,2002-06-28,45920010,2002-06-30,6066.0
67,0000912057-02-026738,51143,2002-07-09,2002-07-09,2002-07-09,NaT,NaN,NaT,NaN
68,0000912057-02-027695,51143,2002-07-17,2002-07-17,2002-07-17,NaT,NaN,NaT,NaN
69,0000912057-02-029172,51143,2002-07-30,2002-07-30,2002-07-30,NaT,NaN,NaT,NaN
70,0000912057-02-031611,51143,2002-08-13,2002-08-13,2002-08-13,NaT,NaN,NaT,NaN
71,0000912057-02-033728,51143,2002-08-28,2002-08-28,2002-08-28,NaT,NaN,NaT,NaN
72,0000950157-02-000627,51143,2002-09-09,2002-09-05,2002-09-05,NaT,NaN,NaT,NaN
668,NaN,51143,NaT,NaT,2002-09-30,2002-09-30,45920010,2002-09-30,6066.0
73,0000912057-02-038827,51143,2002-10-16,2002-10-16,2002-10-16,NaT,NaN,NaT,NaN
74,0000912057-02-040036,51143,2002-10-29,2002-10-29,2002-10-29,NaT,NaN,NaT,NaN
75,0000912057-02-040786,51143,2002-11-04,2002-11-04,2002-11-04,NaT,NaN,NaT,NaN
77,0000950157-02-000806,51143,2002-11-26,2002-11-20,2002-11-20,NaT,NaN,NaT,NaN
78,0000950157-02-000808,51143,2002-11-26,2002-11-20,2002-11-20,NaT,NaN,NaT,NaN
79,0001047469-02-005679,51143,2002-12-04,2002-12-04,2002-12-04,NaT,NaN,NaT,NaN
80,0001047469-02-008739,51143,2002-12-31,2002-12-31,2002-12-31,2002-12-31,45920010,2002-12-31,6066.0
81,0001047469-03-000017,51143,2003-01-02,2002-12-31,2002-12-31,2002-12-31,45920010,2002-12-31,6066.0
83,0001047469-03-001604,51143,2003-01-17,2003-01-16,2003-01-16,NaT,NaN,NaT,NaN
84,0001104659-03-001240,51143,2003-02-10,2003-02-07,2003-02-07,NaT,NaN,NaT,NaN
85,0001047469-03-006346,51143,2003-02-21,2003-02-21,2003-02-21,NaT,NaN,NaT,NaN
669,NaN,51143,NaT,NaT,2003-03-31,2003-03-31,45920010,2003-03-31,6066.0
87,0001047469-03-013255,51143,2003-04-14,2003-04-14,2003-04-14,NaT,NaN,NaT,NaN
88,0001047469-03-013396,51143,2003-04-15,2003-04-14,2003-04-14,NaT,NaN,NaT,NaN
89,0001047469-03-018483,51143,2003-05-14,2003-05-14,2003-05-14,NaT,NaN,NaT,NaN
90,0001047469-03-020297,51143,2003-06-02,2003-06-02,2003-06-02,NaT,NaN,NaT,NaN
91,0001047469-03-022100,51143,2003-06-24,2003-06-24,2003-06-24,NaT,NaN,NaT,NaN
670,NaN,51143,NaT,NaT,2003-06-30,2003-06-30,45920010,2003-06-30,6066.0
93,0001047469-03-024317,51143,2003-07-16,2003-07-16,2003-07-16,NaT,NaN,NaT,NaN
94,0001047469-03-025783,51143,2003-08-01,2003-07-31,2003-07-31,NaT,NaN,NaT,NaN
95,0001047469-03-028472,51143,2003-08-21,2003-08-21,2003-08-21,NaT,NaN,NaT,NaN
671,NaN,51143,NaT,NaT,2003-09-30,2003-09-30,45920010,2003-09-30,6066.0
97,0001047469-03-033430,51143,2003-10-15,2003-10-15,2003-10-15,NaT,NaN,NaT,NaN
98,0001047469-03-034550,51143,2003-10-28,2003-10-28,2003-10-28,NaT,NaN,NaT,NaN
76,0001047469-02-003022,51143,2002-11-14,2003-11-13,2003-11-13,NaT,NaN,NaT,NaN
672,NaN,51143,NaT,NaT,2003-12-31,2003-12-31,45920010,2003-12-31,6066.0
100,0001047469-04-000423,51143,2004-01-08,2004-01-08,2004-01-08,NaT,NaN,NaT,NaN
101,0001047469-04-000912,51143,2004-01-15,2004-01-15,2004-01-15,NaT,NaN,NaT,NaN
102,0001047469-04-002273,51143,2004-01-29,2004-01-29,2004-01-29,NaT,NaN,NaT,NaN
103,0001047469-04-007258,51143,2004-03-10,2004-03-10,2004-03-10,NaT,NaN,NaT,NaN
673,NaN,51143,NaT,NaT,2004-03-31,2004-03-31,45920010,2004-03-31,6066.0
105,0001047469-04-012231,51143,2004-04-16,2004-04-15,2004-04-15,NaT,NaN,NaT,NaN
106,0001104659-04-012285,51143,2004-05-03,2004-05-03,2004-05-03,NaT,NaN,NaT,NaN
107,0001104659-04-013976,51143,2004-05-12,2004-05-12,2004-05-12,NaT,NaN,NaT,NaN
108,0001104659-04-015077,51143,2004-05-19,2004-05-19,2004-05-19,NaT,NaN,NaT,NaN
109,0001104659-04-017283,51143,2004-06-18,2004-06-18,2004-06-18,NaT,NaN,NaT,NaN
674,NaN,51143,NaT,NaT,2004-06-30,2004-06-30,45920010,2004-06-30,6066.0
111,0001104659-04-019756,51143,2004-07-15,2004-07-15,2004-07-15,NaT,NaN,NaT,NaN
112,0001104659-04-027658,51143,2004-09-15,2004-09-15,2004-09-15,NaT,NaN,NaT,NaN
113,0001104659-04-028723,51143,2004-09-28,2004-09-27,2004-09-27,NaT,NaN,NaT,NaN
114,0001104659-04-028985,51143,2004-09-29,2004-09-29,2004-09-29,NaT,NaN,NaT,NaN
675,NaN,51143,NaT,NaT,2004-09-30,2004-09-30,45920010,2004-09-30,6066.0
116,0001104659-04-030121,51143,2004-10-08,2004-10-08,2004-10-08,NaT,NaN,NaT,NaN
117,0001104659-04-030789,51143,2004-10-18,2004-10-18,2004-10-18,NaT,NaN,NaT,NaN
118,0001104659-04-030958,51143,2004-10-19,2004-10-18,2004-10-18,NaT,NaN,NaT,NaN
119,0001104659-04-031670,51143,2004-10-25,2004-10-25,2004-10-25,NaT,NaN,NaT,NaN
120,0001104659-04-032022,51143,2004-10-27,2004-10-26,2004-10-26,NaT,NaN,NaT,NaN
121,0001104659-04-038729,51143,2004-12-08,2004-12-07,2004-12-07,NaT,NaN,NaT,NaN
122,0001104659-04-041643,51143,2004-12-30,2004-12-30,2004-12-30,NaT,NaN,NaT,NaN
676,NaN,51143,NaT,NaT,2004-12-31,2004-12-31,45920010,2004-12-31,6066.0
127,0001104659-05-000206,51143,2005-01-04,2005-01-01,2005-01-01,NaT,NaN,NaT,NaN
128,0001104659-05-001727,51143,2005-01-18,2005-01-18,2005-01-18,NaT,NaN,NaT,NaN
129,0001104659-05-001773,51143,2005-01-19,2005-01-18,2005-01-18,NaT,NaN,NaT,NaN
130,0001104659-05-002594,51143,2005-01-26,2005-01-25,2005-01-25,NaT,NaN,NaT,NaN
131,0001104659-05-002778,51143,2005-01-27,2005-01-27,2005-01-27,NaT,NaN,NaT,NaN
132,0001104659-05-008140,51143,2005-02-24,2005-02-24,2005-02-24,NaT,NaN,NaT,NaN
133,0001104659-05-008564,51143,2005-02-28,2005-02-24,2005-02-24,NaT,NaN,NaT,NaN
134,0001104659-05-009775,51143,2005-03-07,2005-03-07,2005-03-07,NaT,NaN,NaT,NaN
135,0001104659-05-013011,51143,2005-03-28,2005-03-28,2005-03-28,NaT,NaN,NaT,NaN
677,NaN,51143,NaT,NaT,2005-03-31,2005-03-31,45920010,2005-03-31,6066.0
139,0001104659-05-014582,51143,2005-04-01,2005-04-01,2005-04-01,NaT,NaN,NaT,NaN
140,0001104659-05-015220,51143,2005-04-05,2005-04-05,2005-04-05,NaT,NaN,NaT,NaN
141,0001104659-05-015286,51143,2005-04-06,2005-04-06,2005-04-06,NaT,NaN,NaT,NaN
142,0001104659-05-016484,51143,2005-04-14,2005-04-14,2005-04-14,NaT,NaN,NaT,NaN
143,0001104659-05-016568,51143,2005-04-15,2005-04-14,2005-04-14,NaT,NaN,NaT,NaN
144,0001104659-05-018021,51143,2005-04-26,2005-04-26,2005-04-26,NaT,NaN,NaT,NaN
145,0001104659-05-019585,51143,2005-05-02,2005-05-01,2005-05-01,NaT,NaN,NaT,NaN
146,0001104659-05-020403,51143,2005-05-04,2005-05-04,2005-05-04,NaT,NaN,NaT,NaN
147,0001104659-05-020595,51143,2005-05-05,2005-05-04,2005-05-04,NaT,NaN,NaT,NaN
148,0001104659-05-024620,51143,2005-05-20,2005-05-20,2005-05-20,NaT,NaN,NaT,NaN
149,0001104659-05-027375,51143,2005-06-08,2005-06-08,2005-06-08,NaT,NaN,NaT,NaN
150,0001104659-05-029222,51143,2005-06-22,2005-06-22,2005-06-22,NaT,NaN,NaT,NaN
151,0001104659-05-029632,51143,2005-06-24,2005-06-24,2005-06-24,NaT,NaN,NaT,NaN
152,0001104659-05-029879,51143,2005-06-27,2005-06-27,2005-06-27,NaT,NaN,NaT,NaN
678,NaN,51143,NaT,NaT,2005-06-30,2005-06-30,45920010,2005-06-30,6066.0
156,0001104659-05-032774,51143,2005-07-18,2005-07-18,2005-07-18,NaT,NaN,NaT,NaN
157,0001104659-05-032963,51143,2005-07-19,2005-07-18,2005-07-18,NaT,NaN,NaT,NaN
158,0001104659-05-034106,51143,2005-07-26,2005-07-26,2005-07-26,NaT,NaN,NaT,NaN
159,0001104659-05-034425,51143,2005-07-27,2005-07-27,2005-07-27,NaT,NaN,NaT,NaN
160,0001104659-05-045904,51143,2005-09-27,2005-09-26,2005-09-26,NaT,NaN,NaT,NaN
161,0001104659-05-046276,51143,2005-09-29,2005-09-28,2005-09-28,NaT,NaN,NaT,NaN
679,NaN,51143,NaT,NaT,2005-09-30,2005-09-30,45920010,2005-09-30,6066.0
165,0001104659-05-048754,51143,2005-10-17,2005-10-17,2005-10-17,NaT,NaN,NaT,NaN
166,0001104659-05-048848,51143,2005-10-18,2005-10-17,2005-10-17,NaT,NaN,NaT,NaN
167,0001104659-05-049960,51143,2005-10-25,2005-10-25,2005-10-25,NaT,NaN,NaT,NaN
680,NaN,51143,NaT,NaT,2005-12-30,2005-12-30,45920010,2005-12-31,6066.0
170,0001104659-06-000668,51143,2006-01-05,2006-01-05,2006-01-05,NaT,NaN,NaT,NaN
171,0001104659-06-001927,51143,2006-01-12,2006-01-12,2006-01-12,NaT,NaN,NaT,NaN
172,0001104659-06-002441,51143,2006-01-17,2006-01-17,2006-01-17,NaT,NaN,NaT,NaN
173,0001104659-06-002629,51143,2006-01-18,2006-01-17,2006-01-17,NaT,NaN,NaT,NaN
174,0001104659-06-004976,51143,2006-01-31,2006-01-31,2006-01-31,NaT,NaN,NaT,NaN
175,0001104659-06-013228,51143,2006-03-01,2006-03-01,2006-03-01,NaT,NaN,NaT,NaN
176,0001104659-06-014642,51143,2006-03-07,2006-03-07,2006-03-07,NaT,NaN,NaT,NaN
177,0001104659-06-018326,51143,2006-03-22,2006-03-21,2006-03-21,NaT,NaN,NaT,NaN
681,NaN,51143,NaT,NaT,2006-03-31,2006-03-31,45920010,2006-03-31,6066.0
180,0001104659-06-025704,51143,2006-04-18,2006-04-18,2006-04-18,NaT,NaN,NaT,NaN
181,0001104659-06-025817,51143,2006-04-19,2006-04-19,2006-04-19,NaT,NaN,NaT,NaN
182,0001104659-06-027263,51143,2006-04-25,2006-04-25,2006-04-25,NaT,NaN,NaT,NaN
183,0001104659-06-039855,51143,2006-06-06,2006-06-06,2006-06-06,NaT,NaN,NaT,NaN
184,0001104659-06-040135,51143,2006-06-07,2006-06-07,2006-06-07,NaT,NaN,NaT,NaN
185,0001104659-06-041437,51143,2006-06-13,2006-06-13,2006-06-13,NaT,NaN,NaT,NaN
186,0001104659-06-044613,51143,2006-06-29,2006-06-29,2006-06-29,NaT,NaN,NaT,NaN
682,NaN,51143,NaT,NaT,2006-06-30,2006-06-30,45920010,2006-06-30,6066.0
191,0001104659-06-047491,51143,2006-07-18,2006-07-18,2006-07-18,NaT,NaN,NaT,NaN
192,0001104659-06-047599,51143,2006-07-19,2006-07-18,2006-07-18,NaT,NaN,NaT,NaN
193,0001104659-06-052544,51143,2006-08-08,2006-08-08,2006-08-08,NaT,NaN,NaT,NaN
683,NaN,51143,NaT,NaT,2006-09-29,2006-09-29,45920010,2006-09-30,6066.0
197,0001104659-06-067047,51143,2006-10-17,2006-10-17,2006-10-17,NaT,NaN,NaT,NaN
198,0001104659-06-067197,51143,2006-10-18,2006-10-17,2006-10-17,NaT,NaN,NaT,NaN
199,0001104659-06-069845,51143,2006-10-31,2006-10-31,2006-10-31,NaT,NaN,NaT,NaN
200,0000950157-06-001153,51143,2006-11-09,2006-11-06,2006-11-06,NaT,NaN,NaT,NaN
201,0001104659-06-078732,51143,2006-11-30,2006-11-30,2006-11-30,NaT,NaN,NaT,NaN
202,0001104659-06-080720,51143,2006-12-11,2006-12-11,2006-12-11,NaT,NaN,NaT,NaN
203,0001104659-06-082667,51143,2006-12-20,2006-12-20,2006-12-20,NaT,NaN,NaT,NaN
684,NaN,51143,NaT,NaT,2006-12-29,2006-12-29,45920010,2006-12-31,6066.0
207,0001104659-07-003165,51143,2007-01-18,2007-01-18,2007-01-18,NaT,NaN,NaT,NaN
208,0001104659-07-003333,51143,2007-01-19,2007-01-18,2007-01-18,NaT,NaN,NaT,NaN
209,0001104659-07-004370,51143,2007-01-25,2007-01-25,2007-01-25,NaT,NaN,NaT,NaN
210,0001104659-07-005968,51143,2007-01-31,2007-01-30,2007-01-30,NaT,NaN,NaT,NaN
211,0001104659-07-007260,51143,2007-02-05,2007-02-05,2007-02-05,NaT,NaN,NaT,NaN
212,0001104659-07-015937,51143,2007-03-02,2007-03-02,2007-03-02,NaT,NaN,NaT,NaN
213,0001104659-07-018073,51143,2007-03-12,2007-03-12,2007-03-12,NaT,NaN,NaT,NaN
214,0000950157-07-000493,51143,2007-03-21,2007-03-19,2007-03-19,NaT,NaN,NaT,NaN
685,NaN,51143,NaT,NaT,2007-03-30,2007-03-30,45920010,2007-03-31,6066.0
218,0001104659-07-028853,51143,2007-04-17,2007-04-17,2007-04-17,NaT,NaN,NaT,NaN
219,0001104659-07-028967,51143,2007-04-18,2007-04-17,2007-04-17,NaT,NaN,NaT,NaN
220,0001104659-07-030662,51143,2007-04-24,2007-04-24,2007-04-24,NaT,NaN,NaT,NaN
221,0001104659-07-032478,51143,2007-04-27,2007-04-24,2007-04-24,NaT,NaN,NaT,NaN
222,0001104659-07-040974,51143,2007-05-17,2007-05-17,2007-05-17,NaT,NaN,NaT,NaN
223,0001104659-07-043544,51143,2007-05-29,2007-05-29,2007-05-29,NaT,NaN,NaT,NaN
224,0001104659-07-044806,51143,2007-06-04,2007-06-04,2007-06-04,NaT,NaN,NaT,NaN
225,0001104659-07-045242,51143,2007-06-05,2007-06-05,2007-06-05,NaT,NaN,NaT,NaN
226,0001104659-07-049800,51143,2007-06-26,2007-06-25,2007-06-25,NaT,NaN,NaT,NaN
227,0001104659-07-049962,51143,2007-06-26,2007-06-26,2007-06-26,NaT,NaN,NaT,NaN
686,NaN,51143,NaT,NaT,2007-06-29,2007-06-29,45920010,2007-06-30,6066.0
229,0001104659-07-054637,51143,2007-07-18,2007-07-18,2007-07-18,NaT,NaN,NaT,NaN
230,0001104659-07-054763,51143,2007-07-19,2007-07-18,2007-07-18,NaT,NaN,NaT,NaN
231,0001104659-07-057720,51143,2007-08-01,2007-07-31,2007-07-31,NaT,NaN,NaT,NaN
232,0001047469-07-006058,51143,2007-08-03,2007-08-03,2007-08-03,NaT,NaN,NaT,NaN
233,0001104659-07-059651,51143,2007-08-07,2007-08-07,2007-08-07,NaT,NaN,NaT,NaN
234,0000950157-07-001012,51143,2007-08-10,2007-08-09,2007-08-09,NaT,NaN,NaT,NaN
235,0000950157-07-001126,51143,2007-09-13,2007-09-11,2007-09-11,NaT,NaN,NaT,NaN
236,0001104659-07-070080,51143,2007-09-20,2007-09-19,2007-09-19,NaT,NaN,NaT,NaN
687,NaN,51143,NaT,NaT,2007-09-28,2007-09-28,45920010,2007-09-30,6066.0
238,0001104659-07-075145,51143,2007-10-16,2007-10-16,2007-10-16,NaT,NaN,NaT,NaN
239,0001104659-07-075241,51143,2007-10-17,2007-10-16,2007-10-16,NaT,NaN,NaT,NaN
240,0000950157-07-001197,51143,2007-10-19,2007-10-17,2007-10-17,NaT,NaN,NaT,NaN
241,0001104659-07-081942,51143,2007-11-13,2007-11-12,2007-11-12,NaT,NaN,NaT,NaN
242,0001104659-07-082655,51143,2007-11-14,2007-11-14,2007-11-14,NaT,NaN,NaT,NaN
243,0001104659-07-083361,51143,2007-11-15,2007-11-15,2007-11-15,NaT,NaN,NaT,NaN
244,0001104659-07-085209,51143,2007-11-27,2007-11-27,2007-11-27,NaT,NaN,NaT,NaN
245,0001104659-07-086417,51143,2007-12-03,2007-12-03,2007-12-03,NaT,NaN,NaT,NaN
688,NaN,51143,NaT,NaT,2007-12-31,2007-12-31,45920010,2007-12-31,6066.0
249,0001104659-08-002339,51143,2008-01-14,2008-01-14,2008-01-14,NaT,NaN,NaT,NaN
250,0001104659-08-003306,51143,2008-01-17,2008-01-17,2008-01-17,NaT,NaN,NaT,NaN
251,0001104659-08-003418,51143,2008-01-18,2008-01-17,2008-01-17,NaT,NaN,NaT,NaN
252,0000950157-08-000070,51143,2008-01-28,2008-01-24,2008-01-24,NaT,NaN,NaT,NaN
253,0001104659-08-006836,51143,2008-02-04,2008-01-29,2008-01-29,NaT,NaN,NaT,NaN
254,0001104659-08-012803,51143,2008-02-26,2008-02-26,2008-02-26,NaT,NaN,NaT,NaN
255,0001104659-08-013132,51143,2008-02-27,2008-02-27,2008-02-27,NaT,NaN,NaT,NaN
256,0001104659-08-014492,51143,2008-03-03,2008-02-27,2008-02-27,NaT,NaN,NaT,NaN
257,0001104659-08-015706,51143,2008-03-06,2008-03-06,2008-03-06,NaT,NaN,NaT,NaN
258,0001104659-08-015727,51143,2008-03-06,2008-03-06,2008-03-06,NaT,NaN,NaT,NaN